snippet import "import package"
import numpy as np
import matplotlib.pyplot as plt
${0}
endsnippet

snippet main "if main"
if __name__ == '__main__':
	${1:main()}
endsnippet


snippet # "Annotation"
"""
${1:descripitive text}
"""
${0}
endsnippet
